body {
    background-image: url("background.jpg");
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.menu-icon div {
    width: 2em;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

/* MAIN */

#hero-section {
    margin: auto;
}

#hero-section .main-copy {
    float: left;
    width: 45%;
    padding-right: 1em;
}

#hero-section .form-section {
    float: right;
    width: 45%;
    padding: 20px;
}

#register {
    background-color: gray;
    opacity: 0.6;
}

#sign-up-button {
    background-color: aqua;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
}

#copyright {
    float: left;
    font-size: .5em;
}

#bottom-links {
    float: right;
}
